<nav class="container font-source grid grid-cols-12 justify-items-center bg-white text-gray-800 hover:text-gray-600  min-w-full shadow-md tracking-wider
transition duration-500 ease-in-out transform hover:translate-x-2 hover:scale-105
"style="background-color:#942a38">
  <div class="col-span-4 sm:col-span-12 pt-5 py-4">
    <label class="text-xl text-white font-semibold"><a href="http://saasberrylabs.com">SaaSberry Innovation Labs</a></label>
  </div>
  <div class="col-span-2 p-5 sm:col-span-12  sm:border-t-2">
    <a href="#" routerLink="/home" class="text-lg text-white text-semibold mt-3">Home</a>
  </div>
</nav>