<div class="mt-4 md:mt-0 col-span-2 border-l-2 w-full">
    <form id="form" action="#" method="#">
        <div class="sm:rounded-md sm:overflow-hidden">
            <div class="px-4 py-5 mt-4 bg-white space-y-6 sm:p-6">
                <div class="grid grid-cols-4 gap-6">

                    <div class="col-span-2 w-2/3 sm:col-span-4 sm:w-full">
                        <label for="name" class="block text-sm font-medium text-gray-700">
                            Name
                        </label>
                        <div class="mt-1 flex rounded-md">
                            <input [(ngModel)]="name" (input)="onUpdateName()"
                                [ngClass]="{'focus:ring-red-600' : !onUpdateName(), 'focus:border-red-700' : !onUpdateName() , 'border-red-700' : !onUpdateName() }"
                                type="text" name="name" id="name"
                                class=" flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300"
                                placeholder="John Doe" />
                        </div>
                        <p [ngClass]="{'text-red-600' : !onUpdateName()}"  class="mt-2 text-sm text-gray-500">
                            {{nameAssistance}}
                        </p>
                    </div>
                    <div class="col-span-2 w-2/3  sm:col-span-4 sm:w-full">
                        <label for="about" class="block text-sm font-medium text-gray-700">
                            Company's Website
                        </label>
                        <div class="mt-1 flex rounded-md">
                            <span
                                class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 text-sm">
                                https://
                            </span>
                            <input [(ngModel)]="website" (input)="onUpdateWebsite()"
                                [ngClass]="{'focus:ring-red-600' : !onUpdateWebsite(), 'focus:border-red-700' : !onUpdateWebsite(), 'border-red-700' : !onUpdateWebsite() }"
                                type="text" name="company-website" id="company-website"
                                class=" flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300"
                                placeholder="www.example.com">
                        </div>
                        <p [ngClass]="{'text-red-600' : !onUpdateWebsite()}" class="mt-2 text-sm text-gray-500">
                            {{ websiteAssistance }}
                        </p>
                    </div>
                    <div class="col-span-2 sm:col-span-4 w-2/3 sm:w-full">
                        <label for="about" class="block text-sm font-medium text-gray-700">
                            Email Address
                        </label>
                        <div class="mt-1 flex rounded-md ">
                            <input [(ngModel)]="email" (input)="onUpdateEmail()"
                                [ngClass]="{'focus:ring-red-600' : !onUpdateEmail(), 'focus:border-red-700' : !onUpdateEmail() , 'border-red-700' : !onUpdateEmail() }"
                                type="text" name="company-website" id="company-website"
                                class="flex-1 block w-1/2 rounded-none rounded-r-md sm:text-sm border-gray-300"
                                placeholder="john@company.com">
                        </div>
                        <p [ngClass]="{'text-red-600' : !onUpdateEmail()}" class="mt-2 text-sm text-gray-500">
                            {{ emailAssistance }}
                        </p>
                    </div>
                    <div class="col-span-2 sm:col-span-4 w-2/3 sm:w-full">
                        <label for="about" class="block text-sm font-medium text-gray-700">
                            Severity
                        </label>
                        <div class="mt-1 flex rounded-md text-gray-700">
                            <select class="w-full border-2 rounded-md border-gray-300" (change)="onChangeSeverity($event)">
                                <option>1 - Critical</option>
                                <option>2 - High</option>
                                <option selected>3 - Medium</option>
                                <option>4 - Low</option>    
                            </select>
                        </div>
                        <p class="mt-2 text-sm text-gray-500">
                            {{ severityAssistance }}
                        </p>
                    </div>

                    <div class="col-span-3 sm:col-span-2">
                        <label for="company-website" class="block text-sm font-medium text-gray-700">
                            URL
                        </label>
                        <div class="mt-1 flex rounded-md shadow-sm">
                            <span
                                class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 text-sm">
                                https://
                            </span>
                            <input [(ngModel)]="url" (input)="onUpdateURL()"
                                [ngClass]="{'focus:ring-red-600' : !onUpdateURL(), 'focus:border-red-700' : !onUpdateURL() , 'border-red-700' : !onUpdateURL() }"
                                type="text" name="company-website" id="company-website"
                                class=" flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300"
                                placeholder="www.example.com">
                        </div>
                        <p [ngClass]="{'text-red-600' : !onUpdateURL()}" class="mt-2 text-sm text-gray-500">
                            {{urlAssistance}}
                        </p>
                    </div>
                </div>
                <div class="col-span-3 sm:col-span-2">
                    <label for="about" class="block text-sm font-medium text-gray-700">
                        Title
                    </label>
                    <div class="mt-1 rounded-md w-full">
                        <input [(ngModel)]="title" type="text" name="company-website" id="company-website"
                            class=" flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300"
                            placeholder="Lorem Ipsum...">
                    </div>
                    <p [ngClass]="{'text-red-600' : !onUpdateEmail()}" class="mt-2 text-sm text-gray-500">
                        {{ titleAssistance }}
                    </p>
                </div>
                <div>
                    <label for="about" class="block text-sm font-medium text-gray-700">
                        Description
                    </label>
                    <div class="mt-1 flex rounded-md">
                        <textarea [(ngModel)]="description" 
                        id="about" name="about" rows="3"
                            class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md"
                            placeholder=""></textarea>
                    </div>
                    <p class="mt-2 text-sm text-gray-500">
                        Detailed description of the bug. Mention all the available details.
                    </p>
                </div>
                <div>
                    <label class="block text-sm font-medium text-gray-700">
                        Attachments
                    </label>
                    <div
                        class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
                        <div class="space-y-1 text-center">
                            <div class="flex text-sm text-gray-600">
                                <label for="file-upload"
                                    class="relative cursor-pointer bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
                                    <span>Upload a file</span>
                                    <input (change)="onFileSelected($event)" #inputFiles id="file-upload" name="file-upload"

                            <label for="file-upload"
                                    class="relative cursor-pointer bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
                                    Upload multiple files
                                    </label>
                            <div class="flex text-sm text-gray-600">
                                <label for="file-upload"
                                    class="relative cursor-pointer bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
                                    <input  id="file-upload" name="file-upload"

                                        type="file" class="" multiple>
                                </label>
                           
                            </div>
                            <p class="text-xs text-gray-500">
                                PNG, JPG, GIF up to 10MB
                            </p>
                            <img src={{src}} />
                        </div>
                    </div>
                </div>
            </div>
            <div class="px-4 bg-gray-50 text-right sm:px-6 mt-4">
                <button type="submit" (click)="handleSubmit()" [disabled]=disabled
                    class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Submit
                </button>
            </div>
        </div>
    </form>
</div>
