<div class="h-full">
    <file-pond
#myPond
[options]="pondOptions"
[files]="pondFiles"
(oninit)="pondHandleInit()"
(onaddfile)="pondHandleAddFile($event)"
>
</file-pond>
    <app-navbar></app-navbar>
    <div class="grid grid-cols-12 gap-2 w-full h-full mt-10">
        <div class="col-span-6 mx-auto h-full">
            <a  class="text-lg border-2 rounded-md p-4 mt-3"  routerLink="/formSubmission">Forms</a>
        </div>
        <div class="col-span-6 mx-auto">
            <a  class="text-lg border-2 rounded-md p-4"  routerLink="/commentSubmission">Comments</a>
        </div>
    </div>
</div>