<app-comments-search-panel (selectionChange) = "onSelectionChange($event)"></app-comments-search-panel>
<app-comments-display-panel [workItemNumber] = "workItemNumber" ></app-comments-display-panel>
<!-- <div class="w-full h-full">
    <div class="grid grid-cols-12 gap-4 w-full h-full">
        <div class="col-span-4 border-r-2 p-3">
            <label class="text-2xl font-sans">Enter the work item ID</label>
            <input class="border-2 rounded-md mt-3" #workID (blur)=getComments()>

        </div>
        <div class="col-span-8 p-4">
            <div class='w-full grid grid-cols-1  gap-6' #list>
                
            </div>
            <div class="bg-white  mt-2 rounded-lg p-3 border-2 min-w-full">
                Enter a new comment:
                <input type="text" class="border-2 border-sky-300 rounded-lg" #commentsRef />
                <button class="px-2 bg-gray-500 text-white rounded-xl m-3 text-base" (click)="addComment()">SUBMIT</button>
            </div>
        </div>

    </div>
</div> -->